<h1 class='warden-banner'>
    WARDEN OS 
</h1>
<span (click)='getRandomWardenSubtext()' class='warden-subtext clickable'><i>"{{wardenSubtext}}"</i></span>

<section class='basic-grid warden-homescreen'>
    <section class='basic-grid button-section main-section hidden-print'>
        <button (click)='displayInfo("patch"); hideButtonSubSection();'>LOOT PATCH</button>
        <button (click)='displayInfo("trinket"); hideButtonSubSection()'>LOOT TRINKET</button>
        <button class='pofTheme' (click)='openSection("pof")'>A POUND OF FLESH</button>
        <button class='deadTheme' (click)='openSection("dead")'>DEAD PLANET</button>
    </section>

    <section *ngIf='buttonSectionObj["pof"]' class='basic-grid sub-button hidden-print'>
        <button class='pofTheme' (click)='displayInfo("core")'>HAIL CORESPACE STATION</button>
        <button class='pofTheme' (click)='displayInfo("rim")'>HAIL RIMSPACE STATION</button>
        <button class='pofTheme' (click)='displayInfo("generic", "cyber", "pof")'>CYBERNETIC MUTATION</button>
        <button class='pofTheme' (click)='displayInfo("generic", "lootPOF", "pof")'>LOOT FROM THE PROSPERO</button>
    </section>

    <section *ngIf='buttonSectionObj["dead"]' class='basic-grid sub-button hidden-print'>
        <button class='deadTheme' (click)='displayInfo("ship")'>SCAN THE DERELICT SHIP</button>
        <button class='deadTheme' (click)='displayInfo("generic", "warp", "dead")'>WARP CORE MALFUNCTION</button>
        <button class='deadTheme' (click)='displayInfo("generic", "cache", "dead")'>LOOT THE CACHE</button>
        <button class='deadTheme' (click)='displayInfo("generic", "vault", "dead")'>LOOT THE VAULT</button>
        <button class='deadTheme' (click)='displayInfo("generic", "lootDP", "dead")'>LOOT FROM THE DEAD PLANET</button>
        <button class='deadTheme' (click)='displayInfo("generic", "moonColony", "dead")'>LOOT FROM THE MOON COLONY</button>
        <button class='deadTheme' (click)='displayInfo("generic", "redTower", "dead")'>LOOT FROM THE RED TOWER</button>
        <button class='deadTheme' (click)='displayInfo("generic", "nightmare", "dead")'>EXPERIENCE A NIGHTMARE</button>
        <button class='deadTheme' (click)='displayInfo("generic", "necro", "dead")'>EXPLORE THE NECROPOLIS</button>
    </section>

    <section class='display-section main-section'>
        <app-patch-generator (pageTitle)='getPageTitle($event)' [getPatch]='triggerChanges["patch"]' *ngIf='displaySection["patch"]'></app-patch-generator>
        <app-trinket-generator (pageTitle)='getPageTitle($event)' [getTrinket]='triggerChanges["trinket"]' *ngIf='displaySection["trinket"]'></app-trinket-generator>
        <app-space-station-generator (pageTitle)='getPageTitle($event)' [genSpaceStation]='triggerChanges["core"]' [coreOrRim]='false' *ngIf='displaySection["core"]'></app-space-station-generator>
        <app-space-station-generator (pageTitle)='getPageTitle($event)' [genSpaceStation]='triggerChanges["rim"]' [coreOrRim]='true' *ngIf='displaySection["rim"]'></app-space-station-generator>
        <app-generic-random-search (pageTitle)='getPageTitle($event)' [tableToSearch]='tableToSearch' [generateSearch]='triggerChanges["generic"]' [styleToUse]='styleToPass' *ngIf='displaySection["generic"]'></app-generic-random-search>
        <app-ship-generator (pageTitle)='getPageTitle($event)' [genShip]='triggerChanges["ship"]' *ngIf='displaySection["ship"]'></app-ship-generator>
    </section>

    <section class='print-section hidden-print'>
        <button *ngIf='showPrint' class='print-button' (click)='print()'>PRINT {{pagePrintTitle}}</button>
    </section>

    <section class='version-section'>
        <article>
            v.0.4 - Explore the Necropolis...and loot more of the Dead Planet
        </article>
        <article>
            Web app by <a href='https://twitter.com/codeLiches' class='magenta'>@codeLiches</a>
        </article>
    </section>
</section>
