<h1 class='warden-banner'>
    WARDEN OS 
</h1>
<span (click)='getRandomWardenSubtext()' class='warden-subtext clickable'><i>"{{wardenSubtext}}"</i></span>

<!-- TO-DO: create theme switcher -->
<!-- <button (click)='changeTheme("dark")'>DARK MODE</button>
<button (click)='changeTheme("light")'>LIGHT MODE</button>
<button (click)='changeTheme("console")'>CONSOLE MODE</button> -->

<section class='basic-grid warden-homescreen'>
    <section class='basic-grid button-section main-section hidden-print'>
        <button (click)='openSection("mosh")'>PLAYER'S SURVIVAL GUIDE</button>
        <button class='pofTheme' (click)='openSection("pof")'>A POUND OF FLESH</button>
        <button class='deadTheme' (click)='openSection("dead")'>DEAD PLANET</button>
        <button class='print-button the-drain' (click)='openSection("funnel")'>THE DRAIN</button>
    </section>

    <section *ngIf='buttonSectionObj["mosh"]' class='basic-grid sub-button mosh-grid hidden-print'>
        <button class='patch-button' (click)='displayInfo("patch")'>LOOT PATCH</button>
        <button class='trinket-button' (click)='displayInfo("trinket")'>LOOT TRINKET</button>
        <button class='create-button' (click)='clearUploads(); displayInfo("char")'>CREATE A CREW MEMBER</button>
        <button class='upload-button' onclick="document.querySelector('#hiddenInput').click()">UPLOAD A CHARACTER</button>
    </section>

    <section *ngIf='buttonSectionObj["pof"]' class='basic-grid sub-button hidden-print'>
        <button class='pofTheme' (click)='displayInfo("core")'>HAIL CORESPACE STATION</button>
        <button class='pofTheme' (click)='displayInfo("rim")'>HAIL RIMSPACE STATION</button>
        <button class='pofTheme' (click)='displayInfo("generic", "cyber", "pof")'>CYBERNETIC MUTATION</button>
        <button class='pofTheme' (click)='displayInfo("generic", "lootPOF", "pof")'>LOOT FROM THE PROSPERO</button>
    </section>

    <section *ngIf='buttonSectionObj["dead"]' class='basic-grid sub-button hidden-print'>
        <button class='deadTheme' (click)='displayInfo("ship")'>SCAN THE DERELICT SHIP</button>
        <button class='deadTheme' (click)='displayInfo("generic", "warp", "dead")'>WARP CORE MALFUNCTION</button>
        <button class='deadTheme' (click)='displayInfo("generic", "cache", "dead")'>LOOT THE CACHE</button>
        <button class='deadTheme' (click)='displayInfo("generic", "vault", "dead")'>LOOT THE VAULT</button>
        <button class='deadTheme' (click)='displayInfo("generic", "lootDP", "dead")'>LOOT FROM THE DEAD PLANET</button>
        <button class='deadTheme' (click)='displayInfo("generic", "moonColony", "dead")'>LOOT FROM THE MOON COLONY</button>
        <button class='deadTheme' (click)='displayInfo("generic", "redTower", "dead")'>LOOT FROM THE RED TOWER</button>
        <button class='deadTheme' (click)='displayInfo("generic", "nightmare", "dead")'>EXPERIENCE A NIGHTMARE</button>
        <button class='deadTheme' (click)='displayInfo("generic", "necro", "dead")'>EXPLORE THE NECROPOLIS</button>
        <!-- <button (click)='displayInfo("cb")'>FLINTWYRM DESIGN MOCK, NOT RELATED TO WARDEN</button> -->
    </section>

    <section *ngIf='buttonSectionObj["funnel"]' class='basic-grid sub-button drain-grid hidden-print'>
        <em style="font-size: 0.8rem" class='hidden-print section-info'>
            Funnel character rules and tables from <a href='https://www.drivethrurpg.com/product/360430/The-Drain' class='magenta'>The Drain</a> by <a href="https://ian-yusem.itch.io/" class='magenta'>Ian Yusem</a>.
        </em>
        <button class='print-button' (click)='displayInfo("funnel")'>CREATE FUNNEL CARDS</button>
        <button class='print-button' (click)='displayInfo("generic", "drainRand", "drain")'>RANDOM ENCOUNTER</button>
        <button class='print-button' (click)='displayInfo("generic", "billboard", "drain")'>READ BILLBOARD</button>
        <button class='print-button' (click)='displayInfo("generic", "radio", "drain")'>RANDOM RADIO CHATTER</button>
        <button class='print-button' (click)='displayInfo("generic", "drainLoot", "drain")'>SCAVENGE THE AREA</button>
        <button class='print-button' (click)='displayInfo("generic", "drainCache", "drain")'>LOOT THE CACHE</button>
    </section>

    <section *ngIf='openDisplaySection' class='display-section main-section'>
        <app-patch-generator (pageTitle)='getPageTitle($event)' [getPatch]='triggerChanges["patch"]' [addBorder]='true' *ngIf='displaySection["patch"]'></app-patch-generator>
        <app-trinket-generator (pageTitle)='getPageTitle($event)' [getTrinket]='triggerChanges["trinket"]' [addBorder]='true' *ngIf='displaySection["trinket"]'></app-trinket-generator>
        <app-space-station-generator (pageTitle)='getPageTitle($event)' [genSpaceStation]='triggerChanges["core"]' [coreOrRim]='false' *ngIf='displaySection["core"]'></app-space-station-generator>
        <app-space-station-generator (pageTitle)='getPageTitle($event)' [genSpaceStation]='triggerChanges["rim"]' [coreOrRim]='true' *ngIf='displaySection["rim"]'></app-space-station-generator>
        <app-generic-random-search (pageTitle)='getPageTitle($event)' [tableToSearch]='tableToSearch' [generateSearch]='triggerChanges["generic"]' [styleToUse]='styleToPass' *ngIf='displaySection["generic"]'></app-generic-random-search>
        <app-ship-generator (pageTitle)='getPageTitle($event)' [genShip]='triggerChanges["ship"]' *ngIf='displaySection["ship"]'></app-ship-generator>
        <app-character-generator (jsonToDownload)='getUploadedCharSheet($event)' (pageTitle)='getPageTitle($event)' [genChar]='triggerChanges["char"]' [uploadedSheet]='uploadedSheet' *ngIf='displaySection["char"]'></app-character-generator>
        <app-funnel class='center' (pageTitle)='getPageTitle($event)' [genFunnel]="triggerChanges['funnel']" *ngIf='displaySection["funnel"]'></app-funnel>
    </section>

    <section *ngIf='showPrint' class='print-section hidden-print'>
        <button class='hidden-print' (click)='print()'>SAVE {{pagePrintTitle}}</button>
        <button *ngIf='showDownload' class='hidden-print'>
            <a id='downloadAnchorElem' (click)='download()'>DOWNLOAD {{pagePrintTitle}}</a>
        </button>
    </section>

    <app-cb-red-mock class='cb-red' *ngIf='displaySection["cb"]'></app-cb-red-mock>

    <section class='version-section hidden-print'>
        <article class='hidden-print'>
            v.1.1 - Added funnel table generators for <a href='https://www.drivethrurpg.com/product/360430/The-Drain' class='magenta'>The Drain</a>.
        </article>
        <article class='hidden-print'>
            Web app by <a href='https://twitter.com/codeLiches' class='magenta'>@codeLiches</a>
        </article>
    </section>
</section>
<input style='display: none' #fileUploadInput type='file' id='hiddenInput' accept=".json, application/json" (change)='uploadFile($event)'>
