<h1 class='warden-banner'>
    WARDEN OS 
</h1>
<span (click)='getRandomWardenSubtext()' class='warden-subtext clickable'><i>"{{wardenSubtext}}"</i></span>

<section class='basic-grid warden-homescreen'>
    <section class='basic-grid button-section main-section hidden-print'>
        <button (click)='displayInfo("patch")'>LOOT PATCH</button>
        <button (click)='displayInfo("trinket")'>LOOT TRINKET</button>
        <button class='pofTheme' (click)='displayInfo("core")'>HAIL CORESPACE STATION</button>
        <button class='pofTheme' (click)='displayInfo("rim")'>HAIL RIMSPACE STATION</button>
        <button class='pofTheme' (click)='displayInfo("generic", "cyber", "pof")'>CYBERNETIC MUTATION</button>
        <button class='pofTheme' (click)='displayInfo("generic", "lootPOF", "pof")'>LOOT FROM THE PROSPERO</button>
        <button class='deadTheme' (click)='displayInfo("ship")'>SCAN THE DERELICT SHIP</button>
    </section>

    <section class='display-section main-section'>
        <app-patch-generator (pageTitle)='getPageTitle($event)' [getPatch]='triggerChanges["patch"]' *ngIf='displaySection["patch"]'></app-patch-generator>
        <app-trinket-generator (pageTitle)='getPageTitle($event)' [getTrinket]='triggerChanges["trinket"]' *ngIf='displaySection["trinket"]'></app-trinket-generator>
        <app-space-station-generator (pageTitle)='getPageTitle($event)' [genSpaceStation]='triggerChanges["core"]' [coreOrRim]='false' *ngIf='displaySection["core"]'></app-space-station-generator>
        <app-space-station-generator (pageTitle)='getPageTitle($event)' [genSpaceStation]='triggerChanges["rim"]' [coreOrRim]='true' *ngIf='displaySection["rim"]'></app-space-station-generator>
        <app-generic-random-search (pageTitle)='getPageTitle($event)' [tableToSearch]='tableToSearch' [generateSearch]='triggerChanges["generic"]' [styleToUse]='styleToPass' *ngIf='displaySection["generic"]'></app-generic-random-search>
        <app-ship-generator (pageTitle)='getPageTitle($event)' [genShip]='triggerChanges["ship"]' *ngIf='displaySection["ship"]'></app-ship-generator>
    </section>

    <section class='print-section hidden-print'>
        <button *ngIf='showPrint' class='print-button' (click)='print()'>PRINT {{pagePrintTitle}}</button>
    </section>

    <section class='version-section'>
        <article>
            Web app by <a href='https://twitter.com/codeLiches' class='magenta'>@codeLiches</a>
        </article>
    </section>
</section>
