b {
    color: red;
}

.ship-card {
    background-color: #bd0000;
    padding: 0.5rem;

    .ship-title {
        background-color: white;
        color: black;
        margin: 0rem;
    
        grid-area: title;
    }
    
    h2.ship-title {
        margin-bottom: 1rem;
    }
    
    .ship-info {
        background-color: black;
        color: white;
        grid-area: info;
        padding: 0.5rem;
    }
    
    .ship-grid {
        display: grid;
        grid-gap: 1rem;

        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
        grid-template-areas: 
            "shipClass"
            "habit"
            "survivors"
            "engine"
            "salvage1"
            "cargo_type"
            "ruin"
            "weird"
            "room";

        .ruin {
            grid-area: ruin;
        }
        .shipClass {
            grid-area: shipClass;
        }
        .habit {
            grid-area: habit;
        }
        .survivors {
            grid-area: survivors;
        }
        .engine {
            grid-area: engine;
        }
        .salvage1 {
            grid-area: salvage1;
        }
        .weird {
            grid-area: weird;
        }
        .cargo_type {
            grid-area: cargo_type;
        }
        .room-section {
            grid-area: room;
        }
    }
}

@media only screen and (min-width: 768px) {
    .ship-card {
        .ship-grid {
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
                "shipClass shipClass habit habit"
                "engine engine survivors survivors"
                "salvage1 salvage1 cargo_type cargo_type"
                "ruin ruin weird weird"
                "room room room room";
        }
    }
}

@media print {
    .ship-card {      
        border: solid 0.5rem black;
        .ship-title {
            border: solid 0.3rem black;
        }

        .ship-info {
            border: solid 0.1rem black;
            color: black;
        }
    }
}
