body {
    background-color: black;
    height: 100vh;  
    color: white;
    font: 1.3rem Inconsolata, monospace;
}

.warden-banner {
    font-family: 'Monoton';
    text-shadow: none;
    margin: 0;
}

.basic-grid {
    display: grid;
}

.warden-homescreen {
    padding-top: 2rem;
    grid-gap: 1rem;
    grid-template-areas:
        "button"
        "display-section";
    
    .button-section {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}

.basic-card {
    display: grid;
    grid-template-rows: 1fr .5fr;
    grid-template-columns: 1fr;
    border: solid #f06 5px;
    .card-header {
        background-color: white;
        color: black;
        margin-top: 0rem;
        padding-left: 0.5rem;
    }
    .card-body {
        background-color: black;
        color: white;
        padding-left: 0.5rem;
    }
}
.pofTheme {
    background-color: magenta;
    color: white; 
}

button {
    color: black;
    font-family: 'PT Serif', Times, serif;
    font-size: 1.3rem;
    border: none;
  
    box-shadow: 1px 1px 2px rgba(#fff, .2);
}

@media only screen and (min-width: 768px) {
    .warden-homescreen {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
            ". button ."
            ". display-section .";
        
        .button-section {
            grid-area: button;
            grid-template-columns: repeat(2, 1fr);
        }
        .display-section {
            grid-area: display-section;
        }
    }
}
