$stagger-delay: 100ms;
$futura: Futura,Trebuchet MS,Arial,sans-serif;
$helvetica: Helvetica,Arial,sans-serif;

body {
    height: 100vh;
    font: 1.3rem Inconsolata, monospace;
    background-color: black;
    color: white;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

@keyframes sectionEntrance {
    from {
        opacity: 0;
        transform: scale(0.3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.magenta {
    color: magenta;
}

.grid {
    display: grid;
}

.tinyText {
    font-size: 0.9rem;
}

.print-only {
    display: none;
}

.moshInput {
    background-color: black;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    border: 1px solid white;
    width: 15rem;
}

.clickable:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.fail {
    color: #DC267F;
}

.pass {
    color: #FFB000;
}

.warden-subtext {
    grid-area: subtext;
    cursor: pointer;
    font-family: 'PT Serif', Times, serif;
    font-size: 0.9rem;
}

.warden-banner {
    font-family: 'Monoton';
    text-shadow: none;
    margin: 0;
}

.basic-grid {
    display: grid;
}

.warden-homescreen {
    padding-top: 2rem;
    grid-gap: 1rem;
    grid-template-areas:
        "button"
        "sub-button"
        "print-section"
        "display-section"
        "version-section";
    
    .button-section {
        grid-template-columns: 1fr;
        grid-gap: 1rem;

        @for $i from 1 through 15 {
            :nth-child(#{$i}) {
                animation-delay: calc(#{$i} * #{$stagger-delay});
            }
        }
    }

    .display-section {
        grid-area: display-section;
    }

    .sub-button {
        grid-area: sub-button;
        grid-template-columns: 1fr;

        @for $i from 1 through 10 {
            :nth-child(#{$i}) {
                animation-delay: calc(#{$i} * #{$stagger-delay});
            }
        }
    }

    .print-section {
        display: grid;
        grid-template-columns: 1fr;

        place-self: center;
    }

    .version-section {
        display: grid;
        grid-gap: 0.5rem;
        font-size: .8rem;
        color: var(white);
        grid-area: version-section;

        article {
            place-self: center;
        }
        a {
            color: magenta;
        }
    }

    .cb-red {
        grid-area: cb-red;
        place-self: center;
    }
}

.baseMoshCard {
    .title-section {
        padding-left: 0.5rem;

        background-color: white;
        color: black;
        font-family: $futura;
        font-weight: bold;
        font-size: 1.5rem;
    }
    .details-section {
        padding-left: 0.5rem;
        background-color: black;
        color: white;
        font-family: $helvetica;
    }
}

.addBorder {
    background-color: darkgrey;
    padding: 0.5rem;
}

.pofTheme {
    background-color: #f06;
    color: black; 

    &:hover {
        border: solid 0.1rem #f06;
    }
}

.deadTheme {
    background-color: #bd0000;
    color: white;
    border-color: black;

    &:hover {
        border: solid 0.1rem #bd0000;
    }
}

.print-button {
    background-color: goldenrod;
    color: black;

    &:hover {
        border: solid 0.1rem goldenrod;
    }
}

.pof-card {
    display: grid;
    grid-gap: 1rem;
    background-color: #f06;
    padding: 0.5rem;

    .pof-card-inner {
        background-color: white;
        color: black;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .pof-card-inner-dark {
        background-color: black;
        padding: 0.5rem;
    }
}

button {
    color: black;
    background-color: white;
    font-family: 'PT Serif', Times, serif;
    font-size: 1.3rem;
    border: solid 0.1rem;
  
    box-shadow: 1px 1px 2px rgba(#fff, .2);
    cursor: pointer;

    animation: sectionEntrance 700ms ease-out;
    animation-fill-mode: backwards;

    &:hover {
        background-color: black;
        color: white;
        border: solid 0.1rem darkgrey;
    }
}

@media only screen and (min-width: 768px) {
    .warden-homescreen {
        grid-template-columns: 0.5fr 3fr 0.5fr;
        grid-template-areas: 
            ". button ."
            ". sub-button ."
            ". print-section ."
            ". display-section ."
            ". version-section .";
        
        .button-section {
            grid-area: button;
            grid-template-columns: repeat(3, 1fr);
        }
        .display-section {
            grid-area: display-section;
        }
        .sub-button {
            grid-template-columns: repeat(3, 1fr);
            &.mosh-grid {
                grid-template-areas:
                    "patch crew trinket"
                    "upload upload upload";
                .patch-button {
                    grid-area: patch;
                }
                .create-button {
                    grid-area: crew;
                }
                .trinket-button {
                    grid-area: trinket;
                }
                .upload-button {
                    // background-color: goldenrod;
                    grid-area: upload;

                    &:hover {
                        background-color: black;
                        border-color: goldenrod;
                    }
                }
            }
        }
        .print-section {
            grid-area: print-section;
        }
    }
}

@media print {
    .hidden-print {
        display: none;
    }

    .print-only {
        display: block;
    }

    body {
        color: black;
    }

    .basic-card {
        border: solid black 0.5rem;
        .card-body {
            border: solid 0.1rem black;
            color: black;
        }
    }

    .pof-card {
        border: solid 0.5rem black;
        .pof-card-inner {
            border: solid 0.3rem black;
        }
    
        .pof-card-inner-dark {
            border: solid 0.1rem black;
        }
    }

    .baseMoshCard {
        border: solid 0.1rem black;
        .title-section {
            border: solid 0.1rem black;
        }
        .details-section {
            color: black;
        }
    }

}
