<section class='charSheet-grid basic-grid dark'>
    <section class='char-subsection intro-section'>
        <section class='title-section'>
            HELLO, MY NAME IS:
        </section>
        <section class='details-section name-job-section basic-grid'>
            <section class='name-section'>
                <input class='moshInput hidden-print'
                    (keyup)='growWidth($event)'
                    [(ngModel)]='charSheet.name' (ngModelChange)='changeField($event, "name")'
                    type="text"
                    style="text-transform:uppercase"
                >
                <span class='print-only'>
                    {{charSheet.name | uppercase}}
                </span>
                THE {{charSheet.job | uppercase}}
            </section>

            <section class='level-section'>
                LEVEL:
                <input class='moshInput hidden-print'
                    [(ngModel)]='charSheet.level' (ngModelChange)='changeField($event, "level")'
                    type="number" min='0'
                    style='width: 3rem'
                >
                <span class='print-only'>
                    {{charSheet.level}}
                </span>
            </section>

            <section class='rank-section'>
                RANK:
                <input class='moshInput hidden-print'
                    (keyup)='growWidth($event)'
                    [(ngModel)]='charSheet.rank' (ngModelChange)='changeField($event, "rank")'
                    type="text"
                    style="text-transform:uppercase; width: 10rem"
                >
                <span class='print-only'>
                    {{charSheet.rank}}
                </span>
            </section>

            <section class='stress-section'>
                STRESS 
                <input class='moshInput hidden-print'
                    [(ngModel)]='charSheet.curStress' (ngModelChange)='changeField($event, "curStress")'
                    type="number" min='0'
                    style='width: 3rem'
                >
                <span class='print-only'>
                    {{charSheet.curStress}}
                </span>
            </section>

            <section class='resolve-section'>
                RESOLVE
                <input class='moshInput hidden-print'
                    [(ngModel)]='charSheet.resolve' (ngModelChange)='changeField($event, "resolve")'
                    type="number" min='0'
                    style='width: 3rem'
                >
                <span class='print-only'>
                    {{charSheet.resolve}}
                </span>
            </section>

            <section class='health-section'>
                HEALTH 
                <input class='moshInput hidden-print'
                    [(ngModel)]='charSheet.curHealth' (ngModelChange)='changeField($event, "curHealth")'
                    type="number" min='0'
                    style='width: 3rem'
                > /
                <input class='moshInput hidden-print'
                    [(ngModel)]='charSheet.maxHealth' (ngModelChange)='changeField($event, "maxHealth")'
                    type="number" min='0'
                    style='width: 3rem'
                >
                <span class='print-only'>
                    {{charSheet.curHealth}} / {{charSheet.maxHealth}}
                </span>
            </section>
        </section>
    </section>

    <section class='char-subsection stress-section'>
        <section class='title-section'>
            HOW DO I DEAL WITH STRESS?
        </section>
        <section class='details-section'>
            <div style='padding-bottom: 0.5rem' *ngFor='let stress of charSheet.stress'>
                >> {{stress}}
            </div>
        </section>
    </section>

    <section class='char-subsection stats-section'>
        <section class='title-section'>
            STATS
        </section>

        <section class='details-section'>
            <div class='stats-grid basic-grid' *ngFor='let stat of charSheet.stats | keyvalue'>

                <section class='stat-saves-layout'>
                    <section class='title'>
                        <b class='title clickable' (click)='rollStatSave(stat.key, true)'>{{stat.key | uppercase}}</b>
                    </section>

                    <section class='mods-section basic-grid'>
                        <section class='base-stat'>
                            <input style='width: 3rem' class='moshInput base hidden-print' (ngModelChange)='changeField($event)' [(ngModel)]='charSheet.stats[stat.key]' type="number" min="0">
                            <span class='print-only base'>
                                {{stat.value}}
                            </span>
                        </section>
                        <section class='plus'>
                            +
                        </section>
                        <section class='modifier'>
                            <span class='hidden-print'>
                                <input style='width: 3rem' class='moshInput' (ngModelChange)='changeField($event)' [(ngModel)]='charSheet.statMods[stat.key]' type="number" min="0">
                            </span>
                            <span class='print-only'>
                                {{charSheet.statMods[stat.key]}}
                            </span>
                        </section>
                    </section>

                    <section *ngIf='statsResults[stat.key].display' class='hidden-print result'
                        [ngClass]="{
                            pass: statsResults[stat.key].passFail.includes('PASS'),
                            fail: statsResults[stat.key].passFail.includes('FAIL')
                        }"
                    >
                        {{statsResults[stat.key].result}}|<b>{{statsResults[stat.key].passFail}}</b>
                    </section>
                </section>

                <span class='tinyText'>
                    {{statsFlavorText[stat.key]}}
                </span>
            </div>
        </section>
    </section>

    <section class='char-subsection saves-section'>
        <section class='title-section'>
            SAVES
        </section>

        <section class='details-section'>
            <div class='saves-grid basic-grid' *ngFor='let save of charSheet.saves | keyvalue'>

                <section class='stat-saves-layout'>
                    <section class='title'>
                        <b class='clickable' (click)='rollStatSave(save.key, false)'>{{save.key | uppercase}}</b>
                    </section>

                    <section class='mods-section basic-grid'>
                        <section class='base-stat'>
                            <input style='width: 3rem' class='moshInput base hidden-print' (ngModelChange)='changeField($event)' [(ngModel)]='charSheet.saves[save.key]' type="number" min="0">
                            <span class='print-only base'>
                                {{save.value}}
                            </span>
                        </section>
                        <section class='plus'>
                            +
                        </section>
                        <section class='modifier'>
                            <span class='hidden-print'>
                                <input style='width: 3rem' class='moshInput' (ngModelChange)='changeField($event)' [(ngModel)]='charSheet.saveMods[save.key]' type="number" min="0">
                            </span>
                            <span class='print-only'>
                                {{charSheet.saveMods[save.key]}}
                            </span>
                        </section>
                    </section>

                    <section class='results-section' *ngIf='savesResults[save.key].display' class='hidden-print result'
                        [ngClass]="{
                            pass: savesResults[save.key].passFail.includes('PASS'),
                            fail: savesResults[save.key].passFail.includes('FAIL')
                        }"
                    >
                        {{savesResults[save.key].result}}|<b>{{savesResults[save.key].passFail}}</b>
                    </section>
                </section>

                <span class='tinyText'>
                    {{savesFlavorText[save.key]}}
                </span>
            </div>
        </section>
    </section>

    <section class='char-subsection skills-section'>
        <section class='title-section skill-title basic-grid'>
            <section (click)='collapseSection["skills"] = !collapseSection["skills"]' class='clickable'>
                SKILLS
            </section>
            <span>
                <span class='hidden-print'>
                    POINTS:
                    <input style='width: 5rem' class='moshInput hidden-print' (ngModelChange)='changeField($event); getBuyableSkills()' [(ngModel)]='charSheet.skillPoints' type="number" min="0">
                </span>
                <span class='print-only'>
                    POINTS: {{charSheet.skillPoints}}
                </span>
            </span>
        </section>

        <section *ngIf='!collapseSection["skills"]' class='hidden-print'>
            <button *ngIf='!buySkills' (click)="openDialog('skills'); buySkills = true">
                LEARN NEW SKILLS
            </button>
            <button *ngIf='buySkills' (click)='buySkills = false; filterSkills = ""'>CLOSE</button>
        </section>

        <!-- <app-add-custom></app-add-custom> -->

        <section class='hidden-print details-section basic-grid purchase-section' *ngIf='buySkills && !collapseSection["skills"]'>
            >> SKILLS AVAILABLE TO LEARN
            <span class='basic-grid search-bar'>
                FILTER: <input style="width: 99%" class='moshInput hidden-print' (ngModelChange)='skillFilter($event)' [(ngModel)]='filterSkills' type="text">
            </span>

            <span class='tinyText' *ngIf='buyableSkills.length === 0'>
                Nothing to learn! Not enough points/no prerequisites met/filter found nothing
            </span>

            <div class='buyable-section basic-grid' *ngFor='let buyable of buyableSkills | keyvalue'>
                <span class='buyable-title basic-grid'>
                    <button class='small-button' (click)='add(buyable.value, "skills"); getBuyableSkills()'>+</button> 
                    <span>
                        <b>{{buyable.value.title | uppercase}}</b> | {{buyable.value.percent}}
                    </span>
                </span>

                <span class='tinyText buyable-descrip basic-grid'>
                    <span>
                        <b>DESCRIP</b>: {{buyable.value.descrip}}
                    </span>

                    <span>
                    <b>COST</b>: {{buyable.value.cost}}
                        <span *ngIf='buyable.value.pre.length > 0'>
                            | <b>PRE</b>: {{buyable.value.pre}}
                        </span>
                    </span>
                </span>
            </div>
        </section>

        <section *ngIf='!collapseSection["skills"]' class='details-section skills basic-grid'>
            <div class='skill-descrip basic-grid' *ngFor='let skill of charSheet.skills | keyvalue; index as i'>
                <section class='remove-section basic-grid'>
                    <button class='small-button' (click)='remove(skill.value, charSheet.skills); getBuyableSkills()'>-</button>
                    <span class='print-title'>
                        <b class='item-title'>{{skill.value.title | uppercase}}</b> | <span class='item-title'>{{skill.value.percent}}</span>
                    </span>
                </section>

                <span class='tinyText'>{{skill.value.descrip}}</span>
            </div>
        </section>
    </section>

    <section class='char-subsection loadout-section'>
        <section class='title-section skill-title basic-grid'>
            <section (click)='collapseSection["equip"] = !collapseSection["equip"]' class='clickable'>
                EQUIPMENT
            </section>

            <span>
                <span class='hidden-print'>CREDITS:</span>
                <input style='width: 5rem' class='moshInput hidden-print' (ngModelChange)='changeField($event)' [(ngModel)]='charSheet.credits' type="number" min="0">
                <span class='print-only'>
                    CREDITS: {{charSheet.credits}}
                </span>
            </span>
        </section>

        <section class='hidden-print' *ngIf='!collapseSection["equip"]'>
            <button *ngIf='!buyEquipment; else closeBlock' (click)="openDialog('equipment'); buyEquipment = true">BUY EQUIPMENT
            </button>
            <ng-template #closeBlock>
                <button (click)='buyEquipment = false; filterEquip = ""; resetCreditsMessage()'>CLOSE</button>
            </ng-template>
        </section>

        <section *ngIf='buyEquipment && !collapseSection["equip"]' class='details-section purchase-section basic-grid'>
            >> EQUIPMENT AVAILABLE FOR PURCHASE
            <span class='basic-grid search-bar'>
                FILTER: <input style="width: 99%" class='moshInput hidden-print' (ngModelChange)='filterEquipment($event)' [(ngModel)]='filterEquip' type="text">
            </span>
            <div class='buyable-section' *ngFor='let items of equipment | keyvalue'>
                <span class='buyable-title equip-buyable basic-grid'>
                    <button class='small-button' (click)='add(items.value, "equipment")'>+</button> 
                    <button class='small-button' (click)='add(items.value, "equipment", true)'>$$$</button>
                    <span>
                        <b>{{items.value.title | uppercase}}</b>

                        <span class='tinyText fail' *ngIf='items.value.notEnoughCredits'>
                             | <b>{{notEnoughCreditsMessage}}</b>
                        </span>
                    </span>
                </span>

                <section class='tinyText'>
                    <span>
                        <b>COST</b>: {{items.value.cost}} credits | 
                    </span>
                    <span *ngIf='items.value.dmg'>
                        <b>DMG</b>: <span [innerHTML]='items.value.dmg'></span>
                    </span>
                    <span *ngIf='items.value.crit !== "" && items.value.crit'>
                        | <b>CRIT</b>: {{items.value.crit}}
                    </span>
                    <span *ngIf='items.value.range'>
                        | <b>RANGE</b>: {{items.value.range}}
                    </span>
                    <span *ngIf='items.value.ammo'>
                        | <b>AMMO</b>: {{items.value.ammo}}
                    </span>
                    <span *ngIf='items.value.shots'>
                        | <b>MAG SIZE</b>: {{items.value.shots}}
                    </span>
                    <span *ngIf='items.value.special'>
                        | <span [innerHTML]='items.value.special'></span>
                    </span>
                    <span *ngIf='items.value.descrip'>
                        <span [innerHTML]='items.value.descrip'></span>
                    </span>
                </section>
            </div>
        </section>

        <section *ngIf='!collapseSection["equip"]' class='loadout basic-grid details-section'>
            <div *ngFor='let equip of charSheet.loadout | keyvalue; index as i'>
                <section class='remove-section basic-grid'>
                    <button class='small-button' (click)='remove(equip.value, charSheet.loadout)'>-</button>
                    <span class='print-title'>
                        <b class='item-title'>
                            {{equip.value.title | uppercase}}
                            <span *ngIf='equip.value.amount > 1'>
                                (X{{equip.value.amount}})
                            </span>
                        </b> 
                    </span>
                </section>
                <section class='tinyText'>
                    <span *ngIf='equip.value.dmg'>
                        <b>DMG</b>: <span [innerHTML]='equip.value.dmg'></span>
                    </span>
                    <span *ngIf='equip.value.crit !== "" && equip.value.crit'>
                        | <b>CRIT</b>: {{equip.value.crit}}
                    </span>
                    <span *ngIf='equip.value.range'>
                        | <b>RANGE</b>: {{equip.value.range}}
                    </span>
                    <span *ngIf='equip.value.ammo'>
                        | <b>AMMO</b>: {{equip.value.ammo}}
                    </span>
                    <span *ngIf='equip.value.shots'>
                        | <b>MAG SIZE</b>: {{equip.value.shots}}
                    </span>
                    <span *ngIf='equip.value.special'>
                        | <span [innerHTML]='equip.value.special'></span>
                    </span>
                    <span *ngIf='equip.value.descrip'>
                        <span [innerHTML]='equip.value.descrip'></span>
                    </span>
                </section>
            </div>
        </section>
    </section>

    <app-patch-generator class='patch' [getPatch]='genChar'></app-patch-generator>

    <app-trinket-generator class='trinket' [getTrinket]='genChar'></app-trinket-generator>

    <section class='char-subsection notes-xp-section'>
        <section class='title-section'>
            NOTES
        </section>
        <section class='details-section notes-section basic-grid'>
            <textarea (ngModelChange)='changeField($event)' (keyup)='growTextArea($event)' [(ngModel)]='charSheet.notes'></textarea>
            <span>
                <span class='hidden-print'>XP:</span>
                <input style='width: 5rem' class='moshInput hidden-print' (ngModelChange)='changeField($event)' [(ngModel)]='charSheet.xp' type="number" min="0">
                <span class='print-only'>
                    XP: {{charSheet.xp}}
                </span>
            </span>
        </section>
    </section>
</section>